<header class="header">
  <nav class="nav">
    <div class="nav-left">
      <a routerLink="/">Home</a>
      <a routerLink="/volunteers">Volunteers</a>
      <a routerLink="/requests">Requests</a>
      <a routerLink="/messages">Messages</a>
    </div>
    <div class="nav-right">
      <!-- @if (isLoggedIn){ -->
        <a routerLink="/me">Me</a>
      <!-- }  -->
      <!-- @else { -->
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      <!-- } -->
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
