<div class="login-container">
    <h2>Login</h2>
  
    <form [formGroup]="editForm" (ngSubmit)="onUpdate()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          [(ngModel)]="username"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          [(ngModel)]="password"
          required
        />
      </div>
    
      <div class="form-group">
        <label for="full_name">Full name:</label>
        <input
          id="full_name"
          type="text"
          formControlName="full_name"
          [(ngModel)]="full_name"
          required
        />
      </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input
            id="email"
            type="text"
            formControlName="email"
            [(ngModel)]="email"
            required
        />
    </div>
    <div class="form-group">
        <label for="is_volunteer">Are you volunteer:</label>
        <input
            id="is_volunteer"
            type="checkbox"
            formControlName="is_volunteer"
            [(ngModel)]="is_volunteer"
            required
        />
    </div>
  
      <button type="submit" [disabled]="editForm.invalid">Login</button>
      @if (errorMessage) {
        <p class="error">{{ errorMessage }}</p>
      }
    </form>
  </div>
  